:root {
  --blue-color: #00acdc;
}

body {
  margin: 0;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.header {
  box-sizing: border-box;
  display: flex;
  padding: 0 50px;
  align-items: center;
}

.logo-img {
  display: block;
  width: 40px;
  height: 40px;
}

.logo-link {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item:not(:first-child) {
  margin-left: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  height: 60px;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--blue-color);
}

.nav-link.is-active {
  color: var(--blue-color);
  position: relative;
}

.nav-link.is-active::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: var(--blue-color);
  border-radius: 8px;
}
